* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #999999;
}

body a {
    text-decoration: none;
    color: #999999;
}

body a:hover {
    transition: color 0.5s;
    color: #000000;
}

.wrapper {
    font-family: Helvetica, sans-sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
}

.header {
    display: grid;
    grid-template-rows: 60% 40%;
    font-size: 12px;
    position: relative;
}

nav object {
    width: 4.5em;
    padding: 1.2em 0.5em;
}

nav div {
    padding: 0.4em 0.4em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


nav .housing-button:hover, .commercial-button:hover, .hospital-button:hover {
    color: #000000;
    transition: color 0.5s;
}

nav ul li {
	padding: 0.3em 1.7em;
}

footer {
    padding: 0.4em 0.4em;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer ul li {
    margin-top: 1em;
    margin-left: 0.4em;
    margin-bottom: 0.4em;
}

footer .icon {
    width: 2em;
    height: auto;
    display: inline-block;
    text-align: center;
}

.rotate {
    transition: 0.1s;
    transform: rotate(90deg);
}

.hide {
    display: none;
}